<div class="form">
    <hr>
    <h2 id="registration">Registration Form</h2>
    <hr>
    <form action="">
        <label for="fname">First Name</label>
        <input type="text" id="fname" placeholder="Place your first name">
        <label for="lname">Last Name</label>
        <input type="text" id="lname" placeholder="Place your last name">
        <label for="email">Email</label>
        <input type="email" id="name" placeholder="Place your mail">
        <label for="country">Country</label>
        <select id="country">
            <option value="bangladesh" selected>Bangladesh</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
        </select>
        <label for="gender">Gender : </label>
        <input type="radio" id="male" value="male">
        <label for="male">Male</label>
        <input type="radio" id="female" value="female">
        <label for="female">Female</label>
        <input type="radio" id="other" value="other">
        <label for="female">Other</label>
        <br><br>
        <label for="">Hobbies <i>(optional)</i> </label>
        <div class="form-inline">
            <label><input type="checkbox" value="sports" checked>Sports</label>
            <label><input type="checkbox" value="movies" >Movies</label>
            <label><input type="checkbox" value="music" checked>Music</label>
        </div>
        <input type="submit" value="Submit" id="btn">
    </form>
</div>
